# env files
.env
.env.local
.env.*.local

# dependencies
/node_modules

# prisma generated client (custom output path)
/src/generated/prisma

# build outputs
/dist
/.next
/build

# misc
.DS_Store
*.log